# FSORB multiple linear regression predic

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df = pd.read_excel('fsorb.xlsx')

In [8]:
df.head()

,Unnamed: 0,فسرب,1394,1395,1396,1397,1398,1399,1400,1401,...,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41
0,NaN,مفروضات,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,گاز,NaN,NaN,NaN,NaN,NaN,0.013687,0.013,0.013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,برق,NaN,NaN,NaN,NaN,NaN,0.003733,0.01,0.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,روی,NaN,2337,3043,2753,2432,2374,3000,3000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,سرب,NaN,1987,2377,2132,1962,1808,2100,2100,...,1700.0,1800.0,1900.0,2000.0,2100.0,2200.0,2300.0,2400.0,2500.0,2600.0